body {
    color:white;
    background:black;
    margin: 2px;
}

header {
    border-bottom: solid 3px black;
    padding: 15px;
    font-size: 40px;
    font-family: fantasy;
    color: red;
}

section{
    background: dimgray;
    border: solid 10px white;
    padding: 30px;
    margin: 20px;
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
    font-family: sans-serif;
    font-size: 35px;
    font-family: "Oswald", sans-serif;
}

p{
    font-size: 30px;
    font-family: sans-serif;
}

.Texto{
    margin-right: 4%;
}